@media only screen and (max-width: 2700px) {

    :root{

        /* Start HomePage */
          --value-home-header-title-font-size : 10rem;
          --value-home-text-font-size : 3rem;
          --value-home-text-margin : 4rem 0;
          --value-home-boldword : 6rem;
          --value-home-btn : 3.5rem;
          --value-home-btn-border-radius: 2rem;
          --value-home-btn-padding: 3rem;
          --value-home-btn-font-size: 3.5rem;
          --value-home-arrow-width: 11rem;
          --value-home-arrow-height: 11rem;
          --value-home-arrow-border-bottom: 1.1rem;
          --value-home-arrow-border-right: 1.1rem;
          --value-home-profil-link-gap : 4rem 5rem;
          --value-home-profil-link-margin : 3rem 0;
          --value-home-profil-link-img-height : 5rem;
          --value-home-profil-link-img-width : 5rem;
          --value-home-profil-link-font-size : 3rem;
      
          /* End HomePage */
      
          /* Start Quote */
      
          --value-quote-tags-margin : 7rem;
          --value-quote-tags-font-size : 3rem;
          --value-quote-tags-content-font-size : 5rem;
      
          /* End Quote */
      
          /* Start Navbar */
      
          --value-header-navbar-padding : 3rem 0;
          --value-header-brand-title-font-size: 4rem;
          
          --value-a-tags: 0 1rem;
          --value-header-links-text-padding-right: 2rem;
          --value-header-links-text-font-size: 4rem;
          --value-header-links-margin: 0 1.5rem;
          --value-header-links-padding-right: 2rem;
          --value-header-navbar-active-border-bottom: 0.8rem; 
      
          /* End Navbar */
          
      
          /* Start Skills Page */
          
          --value-skills-list-padding: 0 10rem;
          --value-skills-language-margin: 4rem;
          --value-skills-language-border: 0.7rem;
          --value-skills-language-hover-border: 0.8rem;
          --value-skills-language-name-font-size: 3rem;
          --value-skills-language-img-max-widht: 50rem;
          --value-skills-language-img-height: 20rem;
      
          /* End Skills Page */
          
          /* Start Project Page */
          
          --value-text-title: 11rem;
          --value-text-subtitle: 3rem;
          
          --value-project-work-card-img-margin: 2rem 3rem;
          --value-project-img-border-radius: 3rem;
          --value-project-img-height: 40rem;
          --value-project-img-text-font-size: 5em;
          
          --value-project-modal-header-button-font-size: 7rem;
          --value-project-modal-description-text-margin: 2rem 5rem;
          --value-project-modal-description-text-font-size: 4rem;
          
          --value-project-modal-techno-project-list-gap: 5rem 15rem;
          --value-project-modal-techno-project-list-img-height: 10rem;
          --value-project-modal-techno-project-list-img-width: 10rem;
          --value-project-modal-techno-project-list-text-font-size: 3rem;
          --value-project-modal-my-carousel-slide-width: 200rem;
          --value-project-modal-my-carousel-slide-img-max-height: 1700px;
          --value-project-modal-my-carousel-slide-btn-height: 7rem;
          --value-project-modal-my-carousel-slide-btn-width: 7rem;
          
          /* End Skills Page */
      
          /* Start About Page */
      
          --value-about-subtitle-font-size: 5rem;
          --value-about-text-font-size: 2.5rem;
      
          /* End About Page */
          
      }
}
