:root{


    /* Start Global Variable */

    --value-body-max-with: 1700px;

    /* End Global Variable */
    
    
    /* Start HomePage */

      --value-home-header-title-font-size : 2.6rem;
      --value-home-text-font-size : 0.8rem;
      --value-home-text-margin : 0.9rem 0;
      --value-home-boldword : 0.95rem;
      --value-home-btn-border-radius: 0.5rem;
      --value-home-btn-padding: 0.8rem;
      --value-home-btn-font-size: 0.7rem;
      --value-home-arrow-width: 15px;
      --value-home-arrow-height: 15px;
      --value-home-arrow-border-bottom: 2px;
      --value-home-arrow-border-right: 2px;

      --value-home-profil-link-gap : 0.6rem;
      --value-home-profil-link-margin : 0.6rem 0;
      --value-home-profil-link-img-height : 20px;
      --value-home-profil-link-img-width : 20px;
      --value-home-profil-link-font-size : 0.9rem;
  
      /* End HomePage */
  
      /* Start Quote */
  
      --value-quote-tags-margin : 1rem;
      --value-quote-tags-font-size : 0.9rem;
      --value-quote-tags-content-font-size : 1.3rem;
  
      /* End Quote */
  
      /* Start Navbar */
  
      --value-header-navbar-padding : 0.7rem 0;
      --value-header-brand-title-font-size: 1rem;
      
      --value-a-tags: 0 5px;
      --value-header-links-text-padding-right: 0.4rem;
      --value-header-links-text-font-size: 0.8rem;
      --value-header-links-margin: 0 0.2rem;
      --value-header-links-padding-right: 0.4rem;
      --value-header-navbar-active-border-bottom: 3px; 
  
      /* End Navbar */
      
      --value-text-title: 3rem;
      --value-text-subtitle: 1rem;
  
      /* Start Skills Page */

      --value-skills-list-padding: 0 1rem;
      --value-skills-language-margin: 0.5rem;
      --value-skills-language-border: 1px;
      --value-skills-language-hover-border: 3px;
      --value-skills-language-name-font-size: 0.9rem;
      --value-skills-language-img-max-width: 60px;
      --value-skills-language-img-height: 70px;
  
      /* End Skills Page */
      
      /* Start Project Page */

      --value-project-work-card-img-margin: 1rem;
      --value-project-img-border-radius: 0.5rem;
      --value-project-img-height: 11rem;
      --value-project-img-text-font-size: 1em;
      
      --value-project-modal-header-button-font-size: 1rem;
      --value-project-modal-description-text-margin: 0.2rem 0;
      --value-project-modal-description-text-font-size: 0.8rem;
      
      --value-project-modal-header-button-font-size: 1rem;
      --value-project-modal-description-text-margin: 0.7rem 0;
      --value-project-modal-description-text-font-size: 0.9rem;
      --value-project-modal-techno-project-list-gap: 0.8rem 0.3rem;
      --value-project-modal-techno-project-list-img-height: 25px;
      --value-project-modal-techno-project-list-img-width: 25px;
      --value-project-modal-techno-project-list-text-font-size: 0.8rem;
      --value-project-modal-my-carousel-container-margin: 1rem auto;
      --value-project-modal-my-carousel-slide-width: 20rem;
      --value-project-modal-my-carousel-slide-img-max-height: 200px;

      --value-project-modal-my-carousel-slide-btn-height: 10px;
      --value-project-modal-my-carousel-slide-btn-width: 10px;
      
      /* End Project Page */
  
      /* Start About Page */
  
      --value-about-subtitle-font-size: 1.2rem;
      --value-about-text-font-size: 0.8rem;
  
      /* End About Page */
      
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: "DejaVu Serif Bold", "DejaVu Serif" !important;
}
html{
    font-family: "DejaVu Serif Bold", "DejaVu Serif" !important;
}

body{
    height: 100vh !important;
    font-family: "DejaVu Serif Bold", "DejaVu Serif" !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    margin: var(--value-a-tags);
}

#my-main{
    width: 100%;
    height: 100%;border: solid red;
    
    max-width: var(--value-body-max-with) !important;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: none;
    /* scroll-snap-type: y mandatory; */
}

#my-main section{
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Start HomePage */

#home-page{
    position: relative;
}

.home-main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
}

.home-main-content .header-title{
    width: 100%;
    font-size: var(--value-home-header-title-font-size);
    line-height: 1;
    text-align: center;
}

.home-main-content .text {
    text-align: center;
    margin: var(--value-home-text-margin);
    font-size: var(--value-home-text-font-size);
}

.home-main-content .text .boldword{
    font-size: var(--value-home-boldword);
    font-weight: bold !important;
}


.home-main-content ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-main-content ul .btn {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border: solid white;
    border-radius: var(--value-home-btn-border-radius);
    padding: var(--value-home-btn-padding);
    font-size: var(--value-home-btn-font-size);
}

.home-main-content ul .btn:hover {
    background-color: white;
    color: black;
    border: solid black;
}

.home-profil-link{
    display: flex;
    gap: var(--value-home-profil-link-gap);
    margin: var(--value-home-profil-link-margin);
    flex-wrap: wrap;
    justify-content: center;
}

.home-profil-link-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-profil-link-content img{
    height: var(--value-home-profil-link-img-height);
    width: var(--value-home-profil-link-img-width);
}

.home-profil-link-content a{
    font-size: var(--value-home-profil-link-font-size);
}

.arrow{
    position: absolute;
    bottom: 5%;
    cursor: pointer;
}

.arrow span{
    display: block;
    width: var(--value-home-arrow-width);
    height: var(--value-home-arrow-height);
    border-bottom: var(--value-home-arrow-border-bottom) solid black;
    border-right: var(--value-home-arrow-border-right) solid black;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
/* End Home Page */





/* Start Quote */
.quote-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote-tags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.start-quote-tags{
    align-self: flex-start;
    margin-bottom: var(--value-quote-tags-margin);
    font-size: var(--value-quote-tags-font-size);
}
.end-quote-tags{
    align-self: flex-end;
    margin-top: var(--value-quote-tags-margin);
    font-size: var(--value-quote-tags-font-size);
}
.quote-content{
    width: 100%;
    text-align: center;
    font-size: var(--value-quote-tags-content-font-size);
    font-weight: bolder;
}

/* End Quote*/

/* Start Navbar*/


header{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 99;
    border: 1px solid black;
}


.my-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--value-header-navbar-padding);
    /* border: solid black 1px; */
}
.brand-title{
    font-size: var(--value-header-brand-title-font-size);
}
#my-navbar-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
#my-navbar-content ul{
    color:  black;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}
.my-navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-navbar-links a{
    color:  black;
    width: 100%;
    padding-right: var(--value-header-links-text-padding-right);
    font-size: var(--value-header-links-text-font-size);
}
.my-navbar-links li{
    margin: var(--value-header-links-margin);
    padding-right: var(--value-header-links-padding-right);
}
.my-navbar-links li:hover, .my-navbar-active{
    border-bottom: var(--value-header-navbar-active-border-bottom) solid black;
    color:  black;
}


/* End Navbar*/


/* Start Skills Page*/


/* #skills-page{
    text-align: center;
} */

.text-purple {
    color: #6030b1;
}
.section_title {
    font-size: var(--value-text-title); /*var */
    text-align: center;
}
.text_subtitle{
    padding: 0.7rem;
    margin: 0;
    text-align: center;
    font-size: var(--value-text-subtitle);/*var */
}
.skills_list{
    width: 100%;
    padding: var(--value-skills-list-padding);/*var */
}

.my-row{
    display: flex; 
    flex-wrap: wrap;

}
.my-row > *{
    width: 100%;
    max-width: 100%;
}
.mysm7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.mysm10 {
    flex: 0 0 auto;
    width: 90%;
}
.language {
    margin: var(--value-skills-language-margin);/*var */
    /* width: 100%; */
    /* border: black solid var(--value-skills-language-border); */
  }

  .language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.89);
  }

.language__img--wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
    /* border: black solid; */
  }

.language__img {
    max-width: var(--value-skills-language-img-max-width); /*var */
    height: var(--value-skills-language-img-height);/*var */
    transition: all 300ms;
  }

  .language_name {
    font-size: var(--value-skills-language-name-font-size);/*var */
    color: black;
    font-weight: bold !important;
    text-align: center;
    max-width: 100%;
  }

/* End Skills Page*/


/* Start Project Page*/

.work_img {
    border: solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--value-project-work-card-img-margin);/*var */
  }

  .work_img img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: var(--value-project-img-border-radius);/*var */
    height: var(--value-project-img-height);/*var */
    max-width: 90%;
    transition: 1s;
    cursor: pointer;
  }
  .work_img img:hover {
    transform: scale(1.1);
  }


  .work_img a {
    position: absolute;
    font-size: var(--value-project-img-text-font-size);/*var */
    color: black;
    font-weight: bolder !important;

}

#modal-project{
    height: 90% !important;
    width: 90% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: var(--value-body-max-with);
}
.my-large-modal, .my-large-modal-content{
    height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
}
.modal-title{
    width: 100%;
    text-align: center;
}
.modal-header button{
    font-size: var(--value-project-modal-header-button-font-size); /* var*/
}
.my-modal-content{
    margin-top: 0 !important;
    width: 100%;
}

.description-text{
    text-align: center;
    margin: var(--value-project-modal-description-text-margin); /* var*/
    font-size: var(--value-project-modal-description-text-font-size); /* var*/
    line-height: 1.5;
}

.techno-project-list{
    display: flex;
    gap: var(--value-project-modal-techno-project-list-gap);/* var*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.techno-project-list-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.techno-project-list-content img{
    height: var(--value-project-modal-techno-project-list-img-height);/* var*/
    width: var(--value-project-modal-techno-project-list-img-width);/* var*/
}

.techno-project-list-content a{
    font-size: var(--value-project-modal-techno-project-list-text-font-size);/* var*/
}

#modal-project{
    overflow: hidden;
}

.my-carousel-container{
    margin: var(--value-project-modal-my-carousel-container-margin);
    position: relative;
    width: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}
.my-carousel-slide{
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    padding: 0 !important;
    width: var(--value-project-modal-my-carousel-slide-width); /* var*/
    /* min-width: 100%; */
}
.divImg{
    min-width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-carousel-slide img{
    max-height: 95%; /* var*/
}

#prevBtn{
    height: var(--value-project-modal-my-carousel-slide-btn-height); /* var*/
    width: var(--value-project-modal-my-carousel-slide-btn-width); /* var*/
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 10;
    cursor: pointer;
    visibility: hidden;
}
#nextBtn{
    height: var(--value-project-modal-my-carousel-slide-btn-height); /* var*/
    width: var(--value-project-modal-my-carousel-slide-btn-width); /* var*/
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 10;
    cursor: pointer;
}

/* End Project Page*/


/* Start About Page*/

small{
    font-size: inherit !important;
}

.about-content{
    margin: 0.7rem;
}
.col-text-about{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.about_subtitle{
    font-weight: bold;
    font-size: var(--value-about-subtitle-font-size);/* var*/
}
.about-text-content{
    line-height: 1.5;
    text-align: justify;
}
.about_text{
    font-size: var(--value-about-text-font-size);/* var*/
}

/* End About Page*/

/* Start Contact Page */

#contact-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  .contact-content{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 1rem;
    flex-wrap: wrap;
  }

  .contact-profil-link-content {
    display: flex;
    align-items: center;
  }

  .contact-profil-link-content img{
    height: var(--value-home-profil-link-img-height);
    width: var(--value-home-profil-link-img-width);
}

  .contact-profil-link-content a{
    font-size: var(--value-home-profil-link-font-size);
  }


/* End Contact Page*/




@media only screen and (min-width: 1501px) {
    :root{
    
        /* Start HomePage */

        --value-home-header-title-font-size : 6.5rem;
        --value-home-text-font-size : 1.5rem;
        --value-home-text-margin : 1rem 0;
        --value-home-boldword : 1.7rem;
        --value-home-btn-border-radius: 0.9rem;
        --value-home-btn-padding: 1.3rem;
        --value-home-btn-font-size: 1.4rem;
        --value-home-arrow-width: 35px;
        --value-home-arrow-height: 35px;
        --value-home-arrow-border-bottom: 5px;
        --value-home-arrow-border-right: 5px;

        --value-home-profil-link-gap : 0.7rem 1rem;
        --value-home-profil-link-margin : 1rem 0;
        --value-home-profil-link-img-height : 45px;
        --value-home-profil-link-img-width : 45px;
        --value-home-profil-link-font-size : 1.2rem;
    
        /* End HomePage */
      
          /* Start Quote */
      
          --value-quote-tags-margin : 1.4rem;
          --value-quote-tags-font-size : 1.8rem;
          --value-quote-tags-content-font-size : 2.2rem;
      
          /* End Quote */
      
          /* Start Navbar */
      
          --value-header-navbar-padding : 0.7rem 0;
          --value-header-brand-title-font-size: 1.8rem;
          
          --value-a-tags: 0 5px;
          --value-header-links-text-padding-right: 0.8rem;
          --value-header-links-text-font-size: 1.8rem;
          --value-header-links-margin: 0 0.6rem;
          --value-header-links-padding-right: 0.8rem;
          --value-header-navbar-active-border-bottom: 4px; 
      
          /* End Navbar */
          
          --value-text-title: 5rem;
          --value-text-subtitle: 1.5rem;
      
          /* Start Skills Page */

          --value-skills-list-padding: 0 1rem;
          --value-skills-language-margin: 1rem;
          --value-skills-language-border: 1px;
          --value-skills-language-hover-border: 3px;
          --value-skills-language-name-font-size: 1.3rem;
          --value-skills-language-img-max-width: 100px;
          --value-skills-language-img-height: 120px;
      
          /* End Skills Page */
          
          /* Start Project Page */

          --value-project-work-card-img-margin: 1rem;
          --value-project-img-border-radius: 0.5rem;
          --value-project-img-height: 20rem;
          --value-project-img-text-font-size: 1.8em;
          
          --value-project-modal-header-button-font-size: 1.3rem;
          --value-project-modal-description-text-margin: 0.7rem 0;
          --value-project-modal-description-text-font-size: 1.5rem;
          --value-project-modal-techno-project-list-gap: 0.8rem 0.4rem;
          --value-project-modal-techno-project-list-img-height: 55px;
          --value-project-modal-techno-project-list-img-width: 55px;
          --value-project-modal-techno-project-list-text-font-size: 1.3rem;
          --value-project-modal-my-carousel-container-margin: 1rem auto;
          --value-project-modal-my-carousel-slide-width: 95rem;
          --value-project-modal-my-carousel-slide-img-max-height: 500px;
      
          --value-project-modal-my-carousel-slide-btn-height: 45px;
          --value-project-modal-my-carousel-slide-btn-width: 45px;
          /* End Project Page */
      
          /* Start About Page */
      
          --value-about-subtitle-font-size: 1.7rem;
          --value-about-text-font-size: 1.3rem;
      
          /* End About Page */
          
      }

      #my-main{
        scroll-snap-type: y mandatory;
    }
    
    #my-main section{
        scroll-snap-align: center;
    }
      

#home-page{
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
}
.arrow{
    display: block;
}


.my-navbar{
    justify-content: space-between;
}
      .brand-title{
          display: block;
      }

.mysm3{
    width: 20% !important;
    margin: 0.5rem;
}
      /* .mysm3{
          width: auto !important;
          max-width: auto !important;
          margin: 1rem;
      } */
      .mysm4{
        width: 30% !important;
        margin: 0.2rem;
          max-width: auto !important;
      }
      .my-carousel-container{
        width: 100%;
    }

.mysm7 {
    flex: 0 0 auto;
    width: 40%;
}
.mysm10 {
    flex: 0 0 auto;
    width: 55%;
    margin-left: 0.5rem;
}

.divImg{
    height: 650px;
}



}




@media only screen and (min-width: 1301px) and (max-width: 1500px) {
    :root{
    
        /* Start HomePage */

        --value-home-header-title-font-size : 6rem;
        --value-home-text-font-size : 1.5rem;
        --value-home-text-margin : 1rem 0;
        --value-home-boldword : 1.6rem;
        --value-home-btn-border-radius: 0.7rem;
        --value-home-btn-padding: 1.2rem;
        --value-home-btn-font-size: 1.1rem;
        --value-home-arrow-width: 35px;
        --value-home-arrow-height: 35px;
        --value-home-arrow-border-bottom: 4px;
        --value-home-arrow-border-right: 4px;

        --value-home-profil-link-gap : 0.6rem 1rem;
        --value-home-profil-link-margin : 0.9rem 0;
        --value-home-profil-link-img-height : 50px;
        --value-home-profil-link-img-width : 50px;
        --value-home-profil-link-font-size : 1.2rem;
    
        /* End HomePage */
      
          /* Start Quote */
      
          --value-quote-tags-margin : 1.2rem;
          --value-quote-tags-font-size : 1.5rem;
          --value-quote-tags-content-font-size : 2rem;
      
          /* End Quote */
      
          /* Start Navbar */
      
          --value-header-navbar-padding : 0.7rem 0;
          --value-header-brand-title-font-size: 1.5rem;
          
          --value-a-tags: 0 5px;
          --value-header-links-text-padding-right: 0.7rem;
          --value-header-links-text-font-size: 1.5rem;
          --value-header-links-margin: 0 0.4rem;
          --value-header-links-padding-right: 0.7rem;
          --value-header-navbar-active-border-bottom: 3px; 
      
          /* End Navbar */
          
          --value-text-title: 3rem;
          --value-text-subtitle: 1.3rem;
      
          /* Start Skills Page */

          --value-skills-list-padding: 0 1rem;
          --value-skills-language-margin: 1rem;
          --value-skills-language-border: 1px;
          --value-skills-language-hover-border: 3px;
          --value-skills-language-name-font-size: 1.1rem;
          --value-skills-language-img-max-width: 80px;
          --value-skills-language-img-height: 100px;
      
          /* End Skills Page */
          
          /* Start Project Page */

          --value-project-work-card-img-margin: 1rem;
          --value-project-img-border-radius: 0.5rem;
          --value-project-img-height: 13rem;
          --value-project-img-text-font-size: 1.5em;
          
          --value-project-modal-header-button-font-size: 1rem;
          --value-project-modal-description-text-margin: 0.2rem 0;
          --value-project-modal-description-text-font-size: 1.1rem;
          
          --value-project-modal-header-button-font-size: 1rem;
          --value-project-modal-description-text-margin: 0.7rem 0;
          --value-project-modal-description-text-font-size: 1.1rem;
          --value-project-modal-techno-project-list-gap: 0.8rem 0.4rem;
          --value-project-modal-techno-project-list-img-height: 45px;
          --value-project-modal-techno-project-list-img-width: 45px;
          --value-project-modal-techno-project-list-text-font-size: 1rem;
          --value-project-modal-my-carousel-container-margin: 1rem auto;
          --value-project-modal-my-carousel-slide-width: 80rem;
          --value-project-modal-my-carousel-slide-img-max-height: 350px;
      
          --value-project-modal-my-carousel-slide-btn-height: 35px;
          --value-project-modal-my-carousel-slide-btn-width: 35px;
          /* End Project Page */
      
          /* Start About Page */
      
          --value-about-subtitle-font-size: 1.7rem;
          --value-about-text-font-size: 1.3rem;
      
          /* End About Page */
          
      }

      #my-main{
        scroll-snap-type: y mandatory;
    }
    
    #my-main section{
        scroll-snap-align: center;
    }
      

#home-page{
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
}
.arrow{
    display: block;
}


.my-navbar{
    justify-content: space-between;
}
      .brand-title{
          display: block;
      }

.mysm3{
    width: 20% !important;
    margin: 0.5rem;
}
      /* .mysm3{
          width: auto !important;
          max-width: auto !important;
          margin: 1rem;
      } */
      .mysm4{
        width: 30% !important;
        margin: 0.2rem;
          max-width: auto !important;
      }
      .my-carousel-container{
        width: 100%;
    }

.mysm7 {
    flex: 0 0 auto;
    width: 40%;
}
.mysm10 {
    flex: 0 0 auto;
    width: 55%;
    margin-left: 0.5rem;
}

.divImg{
    height: 500px;
}



}



@media only screen and (min-width: 1001px) and (max-width: 1300px) {
    :root{
    
        /* Start HomePage */

        --value-home-header-title-font-size : 4rem;
        --value-home-text-font-size : 1.2rem;
        --value-home-text-margin : 1rem 0;
        --value-home-boldword : 1.4rem;
        --value-home-btn-border-radius: 0.5rem;
        --value-home-btn-padding: 1rem;
        --value-home-btn-font-size: 0.9rem;
        --value-home-arrow-width: 35px;
        --value-home-arrow-height: 35px;
        --value-home-arrow-border-bottom: 4px;
        --value-home-arrow-border-right: 4px;

        --value-home-profil-link-gap : 0.5rem 0.8rem;
        --value-home-profil-link-margin : 0.8rem 0;
        --value-home-profil-link-img-height : 40px;
        --value-home-profil-link-img-width : 40px;
        --value-home-profil-link-font-size : 1rem;
    
        /* End HomePage */
      
          /* Start Quote */
      
          --value-quote-tags-margin : 1rem;
          --value-quote-tags-font-size : 1.2rem;
          --value-quote-tags-content-font-size : 1.6rem;
      
          /* End Quote */
      
          /* Start Navbar */
      
          --value-header-navbar-padding : 0.7rem 0;
          --value-header-brand-title-font-size: 1.2rem;
          
          --value-a-tags: 0 5px;
          --value-header-links-text-padding-right: 0.5rem;
          --value-header-links-text-font-size: 1.2rem;
          --value-header-links-margin: 0 0.3rem;
          --value-header-links-padding-right: 0.5rem;
          --value-header-navbar-active-border-bottom: 3px; 
      
          /* End Navbar */
          
          --value-text-title: 2.7rem;
          --value-text-subtitle: 1.2rem;
      
          /* Start Skills Page */

          --value-skills-list-padding: 0 1rem;
          --value-skills-language-margin: 0.5rem;
          --value-skills-language-border: 1px;
          --value-skills-language-hover-border: 3px;
          --value-skills-language-name-font-size: 0.9rem;
          --value-skills-language-img-max-width: 60px;
          --value-skills-language-img-height: 70px;
      
          /* End Skills Page */
          
          /* Start Project Page */

          --value-project-work-card-img-margin: 1rem;
          --value-project-img-border-radius: 0.5rem;
          --value-project-img-height: 11rem;
          --value-project-img-text-font-size: 1em;
          
          --value-project-modal-header-button-font-size: 1rem;
          --value-project-modal-description-text-margin: 0.2rem 0;
          --value-project-modal-description-text-font-size: 0.8rem;
          
          --value-project-modal-header-button-font-size: 1rem;
          --value-project-modal-description-text-margin: 0.7rem 0;
          --value-project-modal-description-text-font-size: 0.9rem;
          --value-project-modal-techno-project-list-gap: 0.8rem 0.3rem;
          --value-project-modal-techno-project-list-img-height: 25px;
          --value-project-modal-techno-project-list-img-width: 25px;
          --value-project-modal-techno-project-list-text-font-size: 0.8rem;
          --value-project-modal-my-carousel-container-margin: 1rem auto;
          --value-project-modal-my-carousel-slide-width: 50rem;
          --value-project-modal-my-carousel-slide-img-max-height: 350px;
      
          --value-project-modal-my-carousel-slide-btn-height: 20px;
          --value-project-modal-my-carousel-slide-btn-width: 20px;
          /* End Project Page */
      
          /* Start About Page */
      
          --value-about-subtitle-font-size: 1.4rem;
          --value-about-text-font-size: 1.1rem;
      
          /* End About Page */
          
      }

      #my-main{
        scroll-snap-type: y mandatory;
    }
    
    #my-main section{
        scroll-snap-align: center;
    }
      

#home-page{
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
}
.arrow{
    display: block;
}


.my-navbar{
    justify-content: space-between;
}
      .brand-title{
          display: block;
      }

.mysm3{
    width: 20% !important;
    margin: 0.5rem;
}
      /* .mysm3{
          width: auto !important;
          max-width: auto !important;
          margin: 1rem;
      } */
      .mysm4{
        width: 30% !important;
        margin: 0.2rem;
          max-width: auto !important;
      }
      .my-carousel-container{
        width: 100%;
    }

.mysm7 {
    flex: 0 0 auto;
    width: 35%;
}
.mysm10 {
    flex: 0 0 auto;
    width: 60%;
    margin-left: 0.5rem;
}

.divImg{
    height: 360px;
}



}


@media only screen and (min-width: 771px) and (max-width: 1000px) {
    :root{
        /* Start HomePage */

          --value-home-header-title-font-size : 3rem;
          --value-home-text-font-size : 1.1rem;
          --value-home-text-margin : 0.9rem 0;
          --value-home-boldword : 1.3rem;
          --value-home-btn-border-radius: 0.5rem;
          --value-home-btn-padding: 0.9rem;
          --value-home-btn-font-size: 0.9rem;
          --value-home-arrow-width: 18px;
          --value-home-arrow-height: 18px;
          --value-home-arrow-border-bottom: 3px;
          --value-home-arrow-border-right: 3px;

          --value-home-profil-link-gap : 0.6rem;
          --value-home-profil-link-margin : 0.6rem 0;
          --value-home-profil-link-img-height : 20px;
          --value-home-profil-link-img-width : 20px;
          --value-home-profil-link-font-size : 1rem;
      
          /* End HomePage */
      
          /* Start Quote */
      
          --value-quote-tags-margin : 1rem;
          --value-quote-tags-font-size : 1.1rem;
          --value-quote-tags-content-font-size : 1.5rem;
      
          /* End Quote */
      
          /* Start Navbar */
      
          --value-header-navbar-padding : 0.7rem 0;
          --value-header-brand-title-font-size: 1.2rem;
          
          --value-a-tags: 0 5px;
          --value-header-links-text-padding-right: 0.5rem;
          --value-header-links-text-font-size: 1.2rem;
          --value-header-links-margin: 0 0.3rem;
          --value-header-links-padding-right: 0.5rem;
          --value-header-navbar-active-border-bottom: 3px; 
      
          /* End Navbar */
          
          --value-text-title: 2.5rem;
          --value-text-subtitle: 1.1rem;
      
          /* Start Skills Page */

          --value-skills-list-padding: 0 1rem;
          --value-skills-language-margin: 0.5rem;
          --value-skills-language-border: 1px;
          --value-skills-language-hover-border: 3px;
          --value-skills-language-name-font-size: 0.9rem;
          --value-skills-language-img-max-width: 60px;
          --value-skills-language-img-height: 70px;
      
          /* End Skills Page */
          
          /* Start Project Page */

          --value-project-work-card-img-margin: 1rem;
          --value-project-img-border-radius: 0.5rem;
          --value-project-img-height: 8rem;
          --value-project-img-text-font-size: 1em;
          
          --value-project-modal-header-button-font-size: 1rem;
          --value-project-modal-description-text-margin: 0.2rem 0;
          --value-project-modal-description-text-font-size: 0.8rem;
          
          --value-project-modal-header-button-font-size: 1rem;
          --value-project-modal-description-text-margin: 0.7rem 0;
          --value-project-modal-description-text-font-size: 0.9rem;
          --value-project-modal-techno-project-list-gap: 0.8rem 0.3rem;
          --value-project-modal-techno-project-list-img-height: 25px;
          --value-project-modal-techno-project-list-img-width: 25px;
          --value-project-modal-techno-project-list-text-font-size: 0.8rem;
          --value-project-modal-my-carousel-container-margin: 1rem auto;
          --value-project-modal-my-carousel-slide-width: 40rem;
          --value-project-modal-my-carousel-slide-img-max-height: 300px;
      
          --value-project-modal-my-carousel-slide-btn-height: 20px;
          --value-project-modal-my-carousel-slide-btn-width: 20px;
          /* End Project Page */
      
          /* Start About Page */
      
          --value-about-subtitle-font-size: 1.3rem;
          --value-about-text-font-size: 1rem;
      
          /* End About Page */
          
      }

      #my-main{
        scroll-snap-type: y mandatory;
    }
    
    #my-main section{
        scroll-snap-align: center;
    }
      

#home-page{
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
}
.arrow{
    display: block;
}


.my-navbar{
    justify-content: space-between;
}
      .brand-title{
          display: block;
      }

.mysm3{
    width: 20% !important;
    margin: 0.5rem;
}
      /* .mysm3{
          width: auto !important;
          max-width: auto !important;
          margin: 1rem;
      } */
      .mysm4{
        width: 30% !important;
        margin: 0.2rem;
          max-width: auto !important;
      }
      .my-carousel-container{
        width: 100%;
    }

.mysm7 {
    flex: 0 0 auto;
    width: 35%;
}
.mysm10 {
    flex: 0 0 auto;
    width: 60%;
    margin-left: 0.5rem;
}

.divImg{
    height: 360px;
}



}

@media only screen and (min-width: 501px) and (max-width: 770px) {
    :root{
        /* Start HomePage */

          --value-home-header-title-font-size : 2.6rem;
          --value-home-text-font-size : 0.8rem;
          --value-home-text-margin : 0.9rem 0;
          --value-home-boldword : 1rem;
          --value-home-btn-border-radius: 0.5rem;
          --value-home-btn-padding: 0.8rem;
          --value-home-btn-font-size: 0.7rem;
          --value-home-arrow-width: 15px;
          --value-home-arrow-height: 15px;
          --value-home-arrow-border-bottom: 2px;
          --value-home-arrow-border-right: 2px;

          --value-home-profil-link-gap : 0.6rem;
          --value-home-profil-link-margin : 0.6rem 0;
          --value-home-profil-link-img-height : 20px;
          --value-home-profil-link-img-width : 20px;
          --value-home-profil-link-font-size : 0.9rem;
      
          /* End HomePage */
      
          /* Start Quote */
      
          --value-quote-tags-margin : 1rem;
          --value-quote-tags-font-size : 0.9rem;
          --value-quote-tags-content-font-size : 1.3rem;
      
          /* End Quote */
      
          /* Start Navbar */
      
          --value-header-navbar-padding : 0.7rem 0;
          --value-header-brand-title-font-size: 1rem;
          
          --value-a-tags: 0 5px;
          --value-header-links-text-padding-right: 0.5rem;
          --value-header-links-text-font-size: 1rem;
          --value-header-links-margin: 0 0.3rem;
          --value-header-links-padding-right: 0.5rem;
          --value-header-navbar-active-border-bottom: 3px; 
      
          /* End Navbar */
          
          --value-text-title: 2rem;
          --value-text-subtitle: 1rem;
      
          /* Start Skills Page */

          --value-skills-list-padding: 0 1rem;
          --value-skills-language-margin: 0.5rem;
          --value-skills-language-border: 1px;
          --value-skills-language-hover-border: 3px;
          --value-skills-language-name-font-size: 0.9rem;
          --value-skills-language-img-max-width: 60px;
          --value-skills-language-img-height: 70px;
      
          /* End Skills Page */
          
          /* Start Project Page */

          --value-project-work-card-img-margin: 1rem;
          --value-project-img-border-radius: 0.5rem;
          --value-project-img-height: 11rem;
          --value-project-img-text-font-size: 1em;
          
          --value-project-modal-header-button-font-size: 1rem;
          --value-project-modal-description-text-margin: 0.2rem 0;
          --value-project-modal-description-text-font-size: 0.8rem;
          
          --value-project-modal-header-button-font-size: 1rem;
          --value-project-modal-description-text-margin: 0.7rem 0;
          --value-project-modal-description-text-font-size: 0.9rem;
          --value-project-modal-techno-project-list-gap: 0.8rem 0.3rem;
          --value-project-modal-techno-project-list-img-height: 25px;
          --value-project-modal-techno-project-list-img-width: 25px;
          --value-project-modal-techno-project-list-text-font-size: 0.8rem;
          --value-project-modal-my-carousel-container-margin: 1rem auto;
          --value-project-modal-my-carousel-slide-width: 38rem;
          --value-project-modal-my-carousel-slide-img-max-height: 200px;

          --value-project-modal-my-carousel-slide-btn-height: 20px;
          --value-project-modal-my-carousel-slide-btn-width: 20px;
          
          /* End Project Page */
      
          /* Start About Page */
      
          --value-about-subtitle-font-size: 1.2rem;
          --value-about-text-font-size: 0.8rem;
      
          /* End About Page */
          
      }

      
      #my-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: none;
    }
    
    #my-main section{
        min-height: initial;
        scroll-snap-align: none;
        margin: 1rem 0;
    }

#home-page{
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
}
.arrow{
    display: none;
}


.my-navbar{
    justify-content: center;
}
      .brand-title{
          display: none;
      }

.mysm3{
    width: 20% !important;
    margin: 0.5rem;
}
      /* .mysm3{
          width: auto !important;
          max-width: auto !important;
          margin: 1rem;
      } */
      .mysm4{
          width: 100% !important;
          max-width: auto !important;
          margin: 1rem;
      }
      .my-carousel-container{
        width: 100%;
    }


.divImg{
    height: 220px;
}

}

@media only screen and (max-width: 500px) {
      
      #my-main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: none;
    }
    
    #my-main section{
        min-height: initial;
        scroll-snap-align: none;
        margin: 1rem 0;
    }

#home-page{
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0 !important;
}
.arrow{
    display: none;
}


.my-navbar{
    justify-content: center;
}
      .brand-title{
          display: none;
      }
      .mysm3{
          width: auto !important;
          max-width: auto !important;
          margin: 1rem;
      }
      .mysm4{
          width: 100% !important;
          max-width: auto !important;
          margin: 1rem;
      }
      .my-carousel-container{
        width: 100%;
    }


.divImg{
    height: 220px;
}
}
